
* {
    margin: 1px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    text-decoration: none;
}

header  {
    position:fixed;
    width: 100%;
    background-color:white;
}

body {
    background-color: bisque;
}

/*Help moving my name independent of nav bar and header*/
h1 {
   margin-top: 10px;
}

/*Why does my main affect my header?*/
main {
 margin-top: 90px;
}

/*How to align end of titles*/
h2 {
    margin-left: 100px;
}

nav {
    margin-left:1020px
}

li {
    list-style: none;
    display: inline;
    margin-left: 20px;
}

li:hover {
    font-weight: 900;
}

p {
   
}

.about {
    border-style: solid;
    border-width: 1px;
    margin-left:400px;
    margin-right: 50px;
}

div.mywork {
    margin-left:400px;
    margin-right: 50px;
}


img {
   
  }


.mainimg {
    border: 2px solid;
    width: 100%;
    height: auto;

}

.images {
    border: 2px solid;
    width: 100%;
    height: auto;

}

.images:hover {
    
}


.column {

}


.row {

}
.footer {
    position: fixed;
    bottom:0;
    width:100%;
    text-align: center;
}